* {
    box-sizing: border-box;
  }
  
  body {
    font-family:cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background:midnightblue;
  }
  .hide {
    display: none;
  }
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
  
  .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  button {
    background: gold 100%;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.30px;
    line-height: 16px;
    max-width: 275px;
    padding: 23px 53px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    padding: 45px;
    text-align: center;
    background:midnightblue;
    color: #fff;
    border-bottom:30px #879274;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }
  
  .word-guess {
    width: 55vw;
    height: 400px;
  }
  
  .results {
    width: 30vw;
    height: 400px;
  }
  
  .card {
    background:gold;
    border: 1px solid white;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
  }
  
  .word-blanks {
    line-height: 360px;
  }
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 240px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: center;
  }
  
  .timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
   
  